body{font-family: 'Roboto', sans-serif;width: 100%;font-size: 18px;background-color: black;}
h1 {font-weight: bold;font-size: 250%;text-align: center;color: #fff;background: url('../img/header-bg2.png'); padding: 30px 0; margin-bottom: 250px;}
h2 {font-weight: bold;font-size: 170%;color: #fff;margin-top: 0;padding: 0;text-align: center;background: url('../img/header-bg2.png');}
h3 {font-weight: bold;font-size: 250%;text-align: center;padding: 0;z-index: 1;position: relative;}
h4 {font-weight: bold;color: #fff;font-size: 200%;text-align: left;margin: 5% 0% 0% 10%;padding: 0;z-index: 1;position: relative;}
h5 {font-style: italic;color: #fff;font-size: 150%;text-align: left;margin: 2% 0% 0% 10%;padding: 0;z-index: 1;position: relative;}
#header {width: 100%; height: 50px;margin-top:0px;z-index:1000;}
#nav {width: 520px; float: right; margin-top: 50px;}
#menu_button{float: right;  font-size: 17px; margin: 40px 40px 40px 15px;outline: none; padding: 15px 20px; background: url('../img/Menu.png') no-repeat; background-size: 100% 100%; color: white; border: none;}
#logo {margin: 40px 40px; float: left;}
#logo img{width: 100%}
#nav ul{list-style: none;display: block;margin: 0 auto;list-style: none;}
#nav li{margin-top: 0px;float: left;padding-left: 15px;}
#nav li a {color: #585393; font-size: 17px; text-decoration: none; font-family: 'Roboto', sans-serif;}
#nav li a.active {color: #fff; opacity: 1;border-bottom: 2px solid #fff;}
#nav li a.hover {color: #fff; opacity: 1;}
#slide1{background:url('../img/slide1.png') 50% 0 no-repeat fixed;background-position: center center;background-color: #041930;height: 100vh;padding: 0px 0px;background-size: cover; position: relative;}
#slide1_1{position: absolute;top: 35%;left: 0.5%; right: 0.5%;height: 100px;width: 99%;}
#slide2{background-color: #fff;color: #333333;height: 650px;}
#slide2_1{padding: 100px 0;}
#slide2_2{border: 10px solid #00A7E1; height: 400px;width: 74%;position: relative; margin: 0% 0% 0% 11%;
/* for Safari*/ border-bottom-width:0px; border-left-width:0px; border-right-width:0px;
-moz-border-image: -moz-linear-gradient(right, #00A7E1 0%, #6F288F 100%);
-webkit-border-image: -webkit-linear-gradient(right, #00A7E1 0%, #6F288F 100%);
border-image: linear-gradient(to left, #00A7E1 0%, #6F288F 100%);border-image-slice: 1;}
#slide2_3{border: 10px solid #00A7E1; width: 32%; top: 0%;bottom: 60%; position: absolute;
/* for Safari*/ border-top-width:0px; border-right-width:0px;
-moz-border-image: -moz-linear-gradient(left,#6F288F 0%,  #00A7E1 100%);
-webkit-border-image: -webkit-linear-gradient(left,#6F288F 0%, #00A7E1 100%);
border-image: linear-gradient(to right, #6F288F 0%, #00A7E1 100%);border-image-slice: 1;}
#slide2_3 h3{margin: 80px 0px 10px 0px;}
#slide2_4{border: 10px solid #00A7E1; width: 48%; bottom: 100%; float: right; height: 400px;
 /* for Safari*/border-top-width:0px; border-bottom: 0px; border-left-width:0px;
-moz-border-image: -moz-linear-gradient(top, #00A7E1 0%, #6F288F 100%);
-webkit-border-image: -webkit-linear-gradient(top, #00A7E1 0%, #6F288F 100%);
border-image: linear-gradient(to bottom, #00A7E1 0%, #6F288F 100%);border-image-slice: 1;}
#slide2_5{width: 48%;top: 50%;position: absolute;height: 200px;}
#slide2_5 p{margin: 0% 2%; font-size:90%;}
#slide2_6{background: #00A7E1; width: 65%; top: 10%; right; height: 300px; position: absolute;}
#slide2_7{border: 10px solid #00A7E1; width: 30%; float: right; height: 97.5%; border-color: #fff;
 /* for Safari*/ border-top-width:0px; border-right: 0px; border-left-width:0px;
-moz-border-image: -moz-linear-gradient(left,  #00A7E1 0%, #6F288F 100%);
-webkit-border-image: -webkit-linear-gradient(left,  #00A7E1 0%, #6F288F 100%);
border-image: linear-gradient(to right,  #00A7E1 0%, #6F288F 100%);border-image-slice: 1;}
#slide2_8{width: 70%; height: 70%; margin: 0% 0 ; float: left; position: relative;}
#slide2_8 h4 {font-size:160%; position: absolute; top: 50%; transform: translateY(-50%);}
#slide2_9{width: 25%; height: 70%; margin: 5% 0; float: right;}
#slide3{background: url(../img/slide3.png) 50% 0 no-repeat fixed;background-color: #36335A;height:600px;background-size: cover;}
#slide3_1{padding: 100px 0;}
#slide3_2{height: 400px; width: 74%; position: relative; border: 10px solid #00A7E1; margin: 0% 0% 0% 11%;
/* for Safari*/ border-bottom-width:0px; border-right-width:0px; border-left-width:0px;
-moz-border-image: -moz-linear-gradient(right, #6F288F 0%, #00A7E1 100%);
-webkit-border-image: -webkit-linear-gradient(right, #6F288F 0%, #00A7E1 100%);
border-image: linear-gradient(to left, #6F288F 0%, #00A7E1 100%);border-image-slice: 1;}
#slide3_3{height: 400px; width: 48%; position: absolute; border: 10px solid #00A7E1;
/* for Safari*/ border-bottom-width:0px; border-right-width:0px; border-top-width:0px;
-moz-border-image: -moz-linear-gradient(bottom, #6F288F 0%, #00A7E1 100%);
-webkit-border-image: -webkit-linear-gradient(bottom, #6F288F 0%, #00A7E1 100%);
border-image: linear-gradient(to top, #6F288F 0%, #00A7E1 100%);border-image-slice: 1;}
#slide3_4{width: 30%; bottom: 60%; float: right; border: 10px solid #00A7E1;
/* for Safari*/border-left-width:0px; border-top-width:0px;
-moz-border-image: -moz-linear-gradient(right, #6F288F 0%, #00A7E1 100%);
-webkit-border-image: -webkit-linear-gradient(right, #6F288F 0%, #00A7E1 100%);
border-image: linear-gradient(to left, #6F288F 0%, #00A7E1 100%);border-image-slice: 1;}
#slide3_4 h3{margin: 80px 0px 10px 0px; color: #fff; }
#slide3_5{height: 200px; width: 48%; position: absolute; top: 50%; left: 53%;}
#slide3_5 p{margin: 3% 2%; color: #fff; font-size: 90%;}
#slide3_6{height: 300px; width: 60%; position: absolute; top: 10%; left: -10%; background: #00A7E1;}
#slide3_7{height: 97.5%;width: 15%; float: left; border: 10px solid #00A7E1;
/* for Safari*/border-left-width:0px; border-top-width:0px; border-right-width:0px;
-moz-border-image: -moz-linear-gradient(left, #6F288F 0%, #00A7E1 100%);
-webkit-border-image: -webkit-linear-gradient(left, #6F288F 0%, #00A7E1 100%);
border-image: linear-gradient(to right, #6F288F 0%, #00A7E1 100%);border-image-slice: 1;}
#slide3_8{height: 70%; width: 90%; float: right;	margin: 0% 5% ; position: relative;}
#slide3_8 h4{font-size: 170%; position: absolute; top: 50%; transform: translateY(-50%);}
#slide3{background: url(../img/slide3.png) 50% 0 no-repeat fixed;background-color: #36335A;height: 600px;background-size: cover;}
#slide32{height:100%; background:url('../img/slide3.png') 50% 0 no-repeat; background-color: #36335A;background-size: cover;}
#slide32 h3{color: white; margin: 0; padding: 0% 0 5px 0;}
#slide32_1 {margin-bottom:80px; }
#slide32_2 p {text-align: center; color:#fff; font-weight: bold;}
#slide32_3 {height: 70px; width: 16%; float: left; margin: 0% 0% 0% 24%; background-image: url('../img/IM.png');  background-size: 100% 100%; -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
#slide32_4{height: 70px; width: 16%; float: left; margin: 0% 2% 0% 2%; background-image: url('../img/IM.png'); background-size: 100% 100%;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
#slide32_4 p {padding: 5px 0;}
#slide32_5{height: 70px; width: 16%; float: left; margin: 0% 24% 0% 0%; background-image: url('../img/IM.png'); background-size: 100% 100%;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
#slide32_6{background-color: white; margin: 0;}
#slide32_6 img {display: block; margin-left: auto; margin-right: auto; width: 470px; height: 500px; padding-bottom: 5%; margin: 0 auto;}
#slide32_6 h3 {color: black; padding: 8% 0 5% 0;}
#slide32_7 {background-image: url('../img/Arrow.png');background-size: 15% 100%; background-repeat: no-repeat; background-position: center;}
#slide4{background: url(../img/slide3.png) 50% 0 no-repeat fixed;height: 800px;margin: 0 auto;padding: 0px 0px;background-color: #36335A;background-size: cover;}
#slide4_0{padding: 50px 0;}
#slide4_1{height: 100px; width: 25%; float: left; border: 10px solid #00A7E1; margin: 0% 0% 0% 11%;
/* for Safari*/border-right-width:0px;
-moz-border-image: -moz-linear-gradient(left, #6F288F 0%, #00A7E1 100%);
-webkit-border-image: -webkit-linear-gradient(left, #6F288F 0%, #00A7E1 100%);
border-image: linear-gradient(to right, #6F288F 0%, #00A7E1 100%);border-image-slice: 1;}
#slide4_2{height: 100px; width: 25%; float: left; border: 10px solid #00A7E1; margin: 0% 0% 0% 0%;
/* for Safari*/border-right-width:0px; 	border-left-width:0px; border-bottom-width:0px;
-moz-border-image: -moz-linear-gradient(right, #6F288F 0%, #00A7E1 100%);
-webkit-border-image: -webkit-linear-gradient(right, #6F288F 0%, #00A7E1 100%);
border-image: linear-gradient(to left, #6F288F 0%, #00A7E1 100%);border-image-slice: 1;}
#slide4_2 h3{margin: 10% 0% 0% 0%; color: #fff;}
#slide4_3{height: 100px; width: 25%; float: left; border: 10px solid #00A7E1; margin: 0% 0% 0% 0%;
/* for Safari*/border-left-width:0px;
-moz-border-image: -moz-linear-gradient(left, #6F288F 0%, #00A7E1 100%);
-webkit-border-image: -webkit-linear-gradient(left, #6F288F 0%, #00A7E1 100%);
border-image: linear-gradient(to right, #6F288F 0%, #00A7E1 100%);border-image-slice: 1;}
#slide4_4{height: 100px; width: 75%; float: left; margin: 0% 0% 0% 11%;}
#slide4_4 h4{ font-size: 170%; text-align: center; margin: 2% 1%; color: #00A7E1}
#slide4_5{height: 400px; width: 15%; float: left; margin: 5% 0% 0% 11%; background: #fff; background:url('../img/bg1.png'); background-size: 100% 100%;}
#slide4_6{height: 400px; width: 15%; float: left; margin: 5% 0% 0% 5%; background: #fff; background:url('../img/bg1.png'); background-size: 100% 100%;}
#slide4_7{height: 400px; width: 15%; float: left; margin: 5% 0% 0% 5%; background: #fff; background:url('../img/bg1.png'); background-size: 100% 100%;}
#slide4_8{height: 400px; width: 15%; float: left; margin: 5% 0% 0% 5%; background:  #fff; background:url('../img/bg1.png'); background-size: 100% 100%;}
#slide4_9{height: 120px; width: 80%; float: left; border:  1px solid #00A7E1; margin: -25% 0% 0% 9%; background:  #fff;}
#slide4_9 img {display: block; margin-left: auto; margin-right: auto; margin-top: 10%;}
#slide4_9 h5{margin: 30% 0% 0% 0%; text-align: center; font-size: 120%;}
#slide4_9 p{text-align: left; color: #fff; font-size: 90%;}
#slide5{background-color: #fff; color:#333333;height: 900px;padding: 80px 0px;}
#slide5_1{height: 900px;width: 76%;position: relative; border: 10px solid #00A7E1; margin: 0% 0% 0% 11%;
/* for Safari*/ border-bottom-width:0px; border-right-width:0px; border-left-width:0px;
 -moz-border-image: -moz-linear-gradient(right, #00A7E1 0%, #6F288F 100%);
-webkit-border-image: -webkit-linear-gradient(right, #00A7E1 0%, #6F288F 100%);
border-image: linear-gradient(to left, #00A7E1 0%, #6F288F 100%);border-image-slice: 1;}
#slide5_2{border: 10px solid #00A7E1; width: 43%; top: 0%;bottom: 85%; position: absolute;
/* for Safari*/ border-top-width:0px; border-right-width:0px;
-moz-border-image: -moz-linear-gradient(left,#6F288F 0%,  #00A7E1 100%);
-webkit-border-image: -webkit-linear-gradient(left,#6F288F 0%, #00A7E1 100%);
border-image: linear-gradient(to right, #6F288F 0%, #00A7E1 100%);border-image-slice: 1;}
#slide5_2 h3{margin: 70px 0px 10px 0px;}
#slide5_3{border: 10px solid #00A7E1; width: 48%;top: 100%; float: right;height: 900px;
/* for Safari*/ border-top-width:0px; border-left-width:0px; border-bottom-width:0px;
-moz-border-image: -moz-linear-gradient(top, #00A7E1 0%, #6F288F 100%);
-webkit-border-image: -webkit-linear-gradient(top, #00A7E1 0%, #6F288F 100%);
border-image: linear-gradient(to bottom, #00A7E1 0%, #6F288F 100%);border-image-slice: 1;}
#slide5_4{width: 48%;top: 20%;position: absolute;height: 700px; }
#slide5_4 p{margin: 0% 2%; font-size:70%;}
#slide5_5{background: #00A7E1; width: 62%; top: 5%; right; height: 300px; position: absolute;}
#slide5_6{border: 10px solid #00A7E1; width: 100%; float: right; height: 98.9%;
/* for Safari*/ border-top-width:0px; border-left-width:0px; border-right-width:0px;
-moz-border-image: -moz-linear-gradient(left,  #00A7E1 0%, #6F288F 100%);
-webkit-border-image: -webkit-linear-gradient(left,  #00A7E1 0%, #6F288F 100%);
border-image: linear-gradient(to right,  #00A7E1 0%, #6F288F 100%);border-image-slice: 1;}
#slide5_9{width: 90%; height: 70%; margin: 0% 0 ; float: left; position: relative;}
#slide5_9 h4{font-size: 200%; position: absolute; top: 50%; transform: translateY(-50%);}
#slide6{background: url(../img/slide3.png) 50% 0 no-repeat fixed;background-color: #36335A;color: #333333;height: 550px;background-size: cover;}
#slide6_1{padding: 50px 0;}
#slide6_4{height: 80px; width: 76%; float: left; margin: 0% 12% 0% 12%;}
#slide6_4 h4{ font-size: 170%; text-align: center; margin: 2% 1%; color: #00A7E1}
input, textarea {width: 24.5%; height:50px;background:#efefef;border:2px solid #dedede; resize: none; box-sizing: border-box; padding:0px;color:#36335A;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px; border-color: #00A7E1;}
#name{float: left;margin: 0 0.5% 0 25%;}
#email{float: left;margin: 0 25% 0 0.5%}
#message{width: 50%;height: 100px;float: left;margin: 2% 25% 2% 25%;}
input:focus, textarea:focus {border:0px solid #36335A;}
#submit {width:20%;height:50px;border:none; outline: none;cursor:pointer;float: left;margin: 0% 40% 2% 39%;background:url('../img/IM.png'); background-size: 100% 100%;color: #fff;}
#submit:hover {opacity:.9;}
#footer{height: 30px; background-color: #041930; padding-top: 10px;}
#footer p{margin: 0; float left; padding: 0px 50px; color: #585393; display: inline;}
#footer a{display: inline; float:right; text-decoration: none;}
@media screen and (min-width: 2000px) {
#bg{width: 2000px; margin: 0 auto;}
#header{width:2000px; margin: 0 auto;}
#slide1{height: 1000px;}
}
@media screen and (min-width: 1300px) {
#slide5_4 p{font-size:85%;}
}













